html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0px;
}

.wrapper_login {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.left_login {
  margin-left: auto;
  margin-right: auto;
}

.title_info {
  width: 100%;
}

.login_head {
  font-size: 45px;
  text-align: center;
}

.login_content {
  font-size: 35px;
  text-align: center;
}

.right_login {
  min-width: 350px;
}

.form_enter {
  height: 310px;
  width: 320px;
  border: 1px solid #000000;
  border-radius: 4px;
  margin-top: 20px;
}

.enter_input {
  position: relative;
  top: 20px;
  left: 20px;
}

.reg_input {
  position: relative;
  top: 20px;
  left: 20px;
}

input[type=text] {
  background-color: #fff;
  width: 90%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  line-height: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: auto;
  color: #303030;
  box-shadow: inset 0 0 0 1px #868686;
  border-style: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type=password] {
  background-color: #fff;
  width: 90%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, Cantarell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  line-height: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  height: auto;
  color: #303030;
  box-shadow: inset 0 0 0 1px #868686;
  border-style: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.enter {
  background-color: #4CAF50;
  border: none;
  color: white;
  width: 90%;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

