<template>
    <div>
        <div class="form_enter">
            <div class="enter_input"  v-if="showEnter">
                <b>Войти</b>
                <div class="login_data_form">
                   <br> <b>Email/login</b> <br>
                    <input type="text" v-model="ilogin"> <br>
                    <b>Пароль</b> <br>
                    <input type="password" v-model="ipassword"> <br>
                    <button  class="enter" v-on:click="sendLogin">Войти</button>
                </div><br>
                <span v-on:click="showForm" style="cursor: pointer;">Форма заявки</span>
            </div>
            <div class="reg_input" v-if="!showEnter">
                <b>Заявка</b>
                <div class="login_data_form">
                    <br><b>Ф.И.О.</b><br>
                    <input type="text"><br>
                    <b>Компания</b><br>
                    <input type="text"> <br>
                    <b>Контактный телефон</b> <br>
                    <input type="text"> <br>
                    <button  class="enter" >Отправить</button>
                </div><br>
                <span v-on:click="showForm"  style="cursor: pointer;">Форма вxода</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "EnterComponent",
        data() {
            return {
                showEnter:1,
                ilogin:"",
                ipassword:"",
            }
        },
        methods: {
            showForm:function(){
                this.showEnter=!this.showEnter;
            },
            sendLogin:function () {
                axios.post('/login', {
                    ilogin:this.ilogin,
                    ipassword:this.ipassword,
                }).then ((response)=>{
                    console.log(response.data);
                });
            }
        }
    }
</script>

<style scoped>

</style>
